<!DOCTYPE html>
<html>

	<head>
		
		<!-- Custom Style Sheets -->
		<link rel="stylesheet" href="public/css/styles.css" />
		<!-- Vendor Style Sheets -->
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
		 <link type="text/css" rel="stylesheet" href="public/css/bootstrap.vertical-tabs.min.css">
		<!-- JavaScript libraries -->
		
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/bootstrap/bootstrap-tabcollapse.js"></script>
		<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
		<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		
		<!-- Custom JS(Angular Controllor) -->
		<script src="public/js/ProfilesView.js"></script>
		
	</head>

	<body>
		<div class="container">
			
			<div class="row">
				<h1>Profile Browser</h1>
			</div>

			<div class="row">

				<div ng-app="celebrityApp" class="actorDiv">
					<div ng-controller="CelebrityView">
 						<div class="col-md-2 menuContainer">
			              <ul class="nav nav-tabs tabs-left menu">
			              		<li ng-repeat="eachHeading in info | orderBy:'firstName'" ng-click="select($index)" ng-class="{ 'active': $index == selectedIndex }">
       								 <a>{{eachHeading.firstName}} {{eachHeading.lastName}}</a>
       							</li>
			              </ul>
			            </div>
			            <!-- profiles -->
			            <div class="col-md-6 tab-content">
			            	 <div class='tab-pane' id='celebrity{{eachProfile.id}}' ng-repeat="eachProfile in info | orderBy:'firstName'" ng-class="{ 'active': $index == selectedIndex }" >
					             <div class='celebrityImage' style="background-image:url({{eachProfile.picture}})">
					             	
					             </div>
								<h3>{{eachProfile.firstName}} {{eachProfile.lastName}}</h3>
			 					<p>{{eachProfile.bio}}<p>
					        </div>
			            </div>
			            <div class="col-md-2">
			            </div>

					</div>
				</div>

			</div>

		</div>
	</body>
</html>